.root-head {
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 30px;
    box-shadow: var(--b-shadow)
}

.inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    border-radius: 5px;
    padding: 0 10px;
    text-decoration: none;
    border: 1px solid rgb(24, 14, 62);
    transition: all .3s ease;
}
.logo:hover {
    border-color: #4361ee;
    color: #4361ee;
}

.buttons button {
    margin-left: 10px;
}
.buttons a {
    text-decoration: none;
}